*,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    margin: 0px;
}
html {
    scroll-behavior: smooth; 
}

/*****
        FONTS
****/

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
}
h2 {
    font-size: 3.5rem;
    margin-bottom: 25px;
}
h3 {
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}
.navbar ul {
    font-weight: 800;
    letter-spacing: .05rem;
    text-transform: uppercase;
}
.sub-heading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;
    margin-bottom: 3rem!important;
}

.inner-about p {
    margin-bottom: 50px;
}
.sub-heading a {
    text-decoration: none;
    color: #bd5d38;
}
.name {
    color: #bd5d38;
}
body {
    font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    /*padding-top: 54px;*/
    color: #868e96;
}
.shmb0 {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;
    margin-bottom: 0px !important;
}

/*
    MAIN CONTAINER
*/

.Container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.Left-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    min-width: 200px;
    background-color: #bd5d38;
}
.Right-container {
    position: relative;
    display: flex;
}

/*
    LEFT CONTAINER
*/

.inner-nav {
    height: 160px;
    margin: auto auto 0;
}
.image-nav {
    height: 100%;
    border-radius: 50%;
    border: 7px solid #ca7d60;
}
.navbar {
    margin-bottom: auto;
    display: block;
}
.navbar ul {
    list-style-type: none;
    padding-left: 0;
}
.nav-item {
    margin-bottom: 10px;
}
.nav-link {
    text-decoration: none;
    color: #deae9c;
}
.nav-link:hover {
    color: #ffffff;
}

/******
        RIGHT CONTAINER
*****/
.Right-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 250px); /*super zadeva :D*/
    left: 250px;
    height: auto;
}
/****
        FIRST SECTION --- ABOUT
****/
.section-about {
    padding: 50px;
    display: flex;
    /* height: 100vh; */
    min-height: 100vh;
}
.inner-about {
    height: auto;
    margin: auto;
}

/*** SOCIAL ICONS ***/
.social-icons {
    display: flex;   
}
.soc-img {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.soc-img:hover {
    background-color: #bd5d38!important;
}
.bottom-line {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    margin: 0!important;
}
.hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/* ON ALL BOTTOM PAGES */
hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.bottom-top {
    margin: 0!important;
}
/******
        SECTION 2 -- EXPIRIENCE
******/
.section-expirience {
    padding: 50px;
    display: flex;
}
.inner-expirience {
    height: auto;
    width: 100%;
}
.h3m {
    margin-top: 0px;
    margin-bottom: 0px;
}
.exp-set {
    display: flex;
    justify-content: space-between!important;
    flex-direction: row; /*new*/
    padding-bottom: 50px;
}
.left-box {
    width: 65%;
}
.right-box {
    width: 35%;
    text-align: right;
    color: #bd5d38;
}
.exp-heading {
    display: flex;
}

/*****
        EDUCATION SECTION
****/
.section-education {
    padding: 50px;
    display: flex;
    height: 100vh; /*change this if it goes over 100% of screen height*/
}
.inner-education {
    height: auto;
    width: 100%;
}
.bm0 {  /* FOR THE BOTTOM MARGIN IN EDUCATION - SUBHEADING STYLE*/
    margin-bottom: 0px!important;
}

/*****
        SKILLS SECTION
****/
.bm10 {  /* FOR THE BOTTOM MARGIN IN SKILLS - SUBHEADING STYLE*/
    margin-bottom: 10px!important;
}
.tm10 {
    margin-top: 10px;
}
.tm30 {
    margin-top: 30px;
}
.section-skills {
    padding: 50px;
    display: flex;
    height: 100vh; /*change this if it goes over 100% of screen height*/
}
.inner-skills {
    height: auto;
    width: 100%;
}
.soc-img-bot {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    /*background-color: #495057;*/
    color: #495057!important;
    border-radius: 100%;
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    cursor: inherit;
    -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
}
.soc-img-bot:hover {
    color: #bd5d38!important;
}
.projects {
    height: 100px;
}
.under-construction {
    height: 100%;
}
