*,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  body {
      margin: 0px; /*adds 0 space on all sides*/ 
    }
  html {
    scroll-behavior: smooth; /*adds smooth scrolling when using navigation instead if instant teleport :)*/
                             /* u can assign this ti personal element if choose ?? w3cschool :)*/
  }

/*****
        FONTS
****/

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
}
h2 {
    font-size: 3.5rem;
    margin-bottom: 25px;
}
h3 {
    font-size: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}
.navbar ul {
    font-weight: 800;
    letter-spacing: .05rem;
    text-transform: uppercase;
}
.sub-heading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;
    margin-bottom: 3rem!important;
}

.inner-about p {
    margin-bottom: 50px;
}
.sub-heading a {
    text-decoration: none;
    color: #bd5d38;
}
.name {
    color: #bd5d38;
}
body {
    font-family: Muli,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    /*padding-top: 54px;*/
    color: #868e96;
}
.shmb0 {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1.5rem;
    margin-bottom: 0px !important;
}


/***   
    NAVBAR  TO THE LEFT
***/
.container {
    display: flex;
    flex-direction: column;
}
.left-container {
    align-items: center;
    text-align: center;
    background-color: #bd5d38;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    min-width: 200px;
    /*height: 100vh; or bottom: 0 same trick*/
}
.nav-top {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.inner-nav {
    height: 160px;
    margin: auto auto 0;
    width: 100%;
}
.image-nav {
    height: 100%;
    border-radius: 50%;
    border: 7px solid #ca7d60;
}
.navbar {
    margin-bottom: auto;
    display: block;
}
.navbar ul {
    list-style-type: none;
    padding-left: 0;
}
.nav-item {
    margin-bottom: 10px;
}
.nav-link {
    text-decoration: none;
    color: #deae9c;
}
.nav-link:hover {
    color: #ffffff;
}


/******
        RIGHT CONTAINER
*****/
.right-container {
    /*padding: 50px;*/
    position: relative;
    width: calc(100% - 250px); /*super zadeva :D*/
    left: 250px;
    /*max-width: 75rem;*/
    height: auto;
    /*background-color: lightgrey; /*sam tok da je neki*/
}
/****
        FIRST SECTION --- ABOUT
****/
.section-about {
    padding: 50px;
    display: flex;
    height: 100vh;
}
.inner-about {
    height: auto;
    margin: auto;
}

/*** SOCIAL ICONS ***/
.social-icons {
    display: flex;   
}
.soc-img {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff!important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
}
.soc-img:hover {
    background-color: #bd5d38!important;
}
.bottom-line {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    margin: 0!important;
}
.hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/* ON ALL BOTTOM PAGES */
hr {
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.bottom-top {
    margin: 0!important;
}

/******
        SECTION 2 -- EXPIRIENCE
******/
.section-expirience {
    padding: 50px;
    display: flex;
}
.inner-expirience {
    height: auto;
    width: 100%;
}
.h3m {
    margin-top: 0px;
    margin-bottom: 0px;
}
.exp-set {
    display: flex;
    justify-content: space-between!important;
    flex-direction: row; /*new*/
    padding-bottom: 50px;
}
.left-box {
    width: 65%;
}
.right-box {
    width: 35%;
    text-align: right;
    color: #bd5d38;
}
.exp-heading {
    display: flex;
}

/*****
        EDUCATION SECTION
****/
.section-education {
    padding: 50px;
    display: flex;
    height: 100vh; /*change this if it goes over 100% of screen height*/
}
.inner-education {
    height: auto;
    width: 100%;
}
.bm0 {  /* FOR THE BOTTOM MARGIN IN EDUCATION - SUBHEADING STYLE*/
    margin-bottom: 0px!important;
}

/*****
        SKILLS SECTION
****/
.bm10 {  /* FOR THE BOTTOM MARGIN IN SKILLS - SUBHEADING STYLE*/
    margin-bottom: 10px!important;
}
.tm10 {
    margin-top: 10px;
}
.tm30 {
    margin-top: 30px;
}
.section-skills {
    padding: 50px;
    display: flex;
    height: 100vh; /*change this if it goes over 100% of screen height*/
}
.inner-skills {
    height: auto;
    width: 100%;
}
.soc-img-bot {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    /*background-color: #495057;*/
    color: #495057!important;
    border-radius: 100%;
    text-align: center;
    font-size: 3rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    cursor: inherit;
    -webkit-transition-duration: 0.4s; /* Safari */
      transition-duration: 0.4s;
}
.soc-img-bot:hover {
    color: #bd5d38!important;
}
.projects {
    height: 100px;
}
.under-construction {
    height: 100%;
}

/*****
        SECTION - INTERESTS
*****/
.section-interests {
    padding: 50px;
    display: flex;
    height: calc(100vh - 20px - 25px); /*change this if it goes over 100% of screen height*/
}                               /*MINUS the HEIGHT OF ALL RIGHTS RESERVED*/
                                /*MINUS THE HEIGHT OF LETTERS*/
.inner-interests {
    height: auto;
    width: 100%;
}

/****
        ALL RIGHT RESERVED
****/
.small {
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10%;
}

/*******
        MEDIA QUERY
******/
@media (min-width: 960px) {
    .navbar {   /*needed this because of .toggle jQuery -not anymore*/
       display: block; 
    }
}
@media (max-width: 960px) {
    hr {
        display:none;
    }
    .section-about {
        height: auto;
    }
    .inner-about {
        margin-top: 0;
    }
    .left-container {
        position: sticky;
        z-index: 100;
        /*position: relative;*/
        /*height: auto;*/
        height: fit-content;
        display: flex;
        width: 100%;
        min-width: 0;
        align-items: normal;
    }
    .inner-nav {
        display: none;
    }
    .navbar {
        display: none;
        z-index: 100;
        text-align: left;
        padding-left: 20px;
        display: none;
        position: fixed;
        top: 60px;
        background-color: rgb(189, 93, 56);
        width: 100%;
    }
    .nav-top {
        display: flex;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav-name {
        font-size: 20px;
    }
    .social-icons-top {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: .25rem;
        border-color: #deae9c;;
    }
    .soc-img-top {
        display: inline-block;
        color: #deae9c;;
    }
    .right-container {
        /*padding: 50px;*/
        position: relative;
        width: 100%;
        left: 0;
        height: auto;
    }
    .exp-set {
        flex-direction: column;
    }
    .left-box {
        width: 100%;
    }
    .right-box {
        width: 100%;
    }
    .section-about, .section-education, .section-expirience, .section-interests, .section-skills {
        padding-left: 20px;
        padding-top: 20px;
    }
    .w100 {
        width: 100%;
    }
    .section-education {
        height: auto;
    }
    .section-interests {
        /*height: 100vh;*/
        height: calc(100vh - 20px - 25px);
    }
  }